<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()" class="container mt-5">
    <app-home></app-home>
    <div class="form-group">
        <label for="checkInDate">Check-In Date</label>
        <input type="date" id="checkInDate" formControlName="checkInDate" class="form-control" placeholder="Select Check-In Date">
        <div *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched"
            class="text-danger">Check-In Date is Required</div>
    </div>
    
    <div class="form-group">
        <label for="checkOutDate">Check-Out Date</label>
        <input type="date" id="checkOutDate" formControlName="checkOutDate" class="form-control" placeholder="Select Check-Out Date">
        <div *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched"
            class="text-danger">Check-Out Date is Required</div>
    </div>
    
    <div class="form-group">
        <label for="guestName">Guest Name</label>
        <input type="text" id="guestName" formControlName="guestName" class="form-control" placeholder="Name">
        <div *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched"
            class="text-danger">Name is Required</div>
    </div>

    <div class="form-group">
        <label for="guestEmail">Guest Email</label>
        <input type="text" id="guestEmail" formControlName="guestEmail" class="form-control" placeholder="Email">
        <div *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched"
            class="text-danger">Email is Required</div>
    </div>

    <div class="form-group">
        <label for="roomNumber">Room Number</label>
        <input type="number" id="roomNumber" formControlName="roomNumber" class="form-control" placeholder="Room Number">
        <div *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched"
            class="text-danger">Room Number is Required</div>
    </div>

    <button type="submit" [disabled]="reservationForm.invalid" class="btn btn-primary">Submit</button>

</form>
